<main class="container mb-5 mt-5">
  <div class="img-show mr-5">
    <%= image_tag @item.image_url, height: "500px;" %>
  </div>
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Title : </strong><%= @item.title %></li>
      <li class="list-group-item"><strong>Description : </strong><%= @item.description %></li>
      <li class="list-group-item"><strong>Prix : </strong><%= @item.price %> €</li>
    </ul>
  </div>

  <div class=" d-flex justify-content-left">
    <%= link_to "Modify", edit_admin_item_path(@item.id), class:"btn btn-secondary button_center mr-2 mt-3" %>
    <%= form_with(model: [:admin, @item], local: true, url: admin_item_path, method: "delete")  do |form| %>
    <%= form.submit "Delete", class:"btn btn-danger mt-3"%>
    <% end %>
  </div>