<% if @all_cart_items.present? %>
  <% @all_cart_items.each do |cart_item| %>

    <%= image_tag cart_item.item.image_url, alt: cart_item.item.title %>

    <div class="cart-item-text col-8">
      <h4> <%= cart_item.item.title %></h4>
      <p> <%= cart_item.item.description %></p> 
    </div>

    <div class="cart-item-summary col-2">
      <p>Price : <%= cart_item.item.price %> $ </p>

   
      <div class="container-qty">
        <p class="qty"> Quantity </p> <br>
        <input type="button" onclick="decrementValue()" value="-" />
        <input type="text" name="quantity" value="1" maxlength="2" max="10" size="1" id="number" />
        <input type="button" onclick="incrementValue()" value="+" />
      </div>

 



     <%= button_to "Delete", cart_item_path(cart_item), method: :delete, class: "btn_bot" %>

   
    </div>
  <% end %>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>

<h3>Total: <%= @all_cart_items.sum(&:price) %>$</h3>

